<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CMS TECH BLOG</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a>CMS TECH BLOG</a>
        </h1>
        <nav>
          <a href="/">HOME</a>
          {{#if loggedIn}}
            <a href="/dashboard">DASHBOARD</a>
            <button id="logout" class="btn-no-style">LOGOUT</button>
          {{else}}
            <a href="/login">LOGIN</a>
          {{/if}}

        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        TELL YOUR FRIENDS ABOUT US!
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>