<form class="signup-form">
  <div>
    <label for="username-signup">CREATE NEW USERNAME:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">ENTER EMAIL:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">CREATE PASSWORD:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">SIGN UP</button>
  </div>
</form>
<form class="login-form">
  <div>
    <label for="email-login">ENTER EMAIL:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">ENTER PASSWORD:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">LOGIN</button>
  </div>
</form>
<script src="/javascript/login.js"></script>